{% extends "layout.html.twig" %}
{% block title %}Nueva Ponencia{% endblock %}
{% block bodydiv %}
    <h1>Nueva ponencia</h1>
    {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(formulario) }}
    {{ form_end(formulario) }}
{% endblock %}